.user-card {
  font-family: 'Arial', sans-serif;
  background: #E3F2FD;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  margin-bottom: 15px;
  border-bottom: #2196F3 4px solid;
}

.user-card img {
  width: 100%;
}

.user-card button {
  cursor: pointer;
  background: #2196F3;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
}